@{
    // ViewBag.Title = "User Access";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<section>
    <div class="page-content">
        <div class="header">
            <h2><strong>Manage </strong> Role</h2>
            <div class="breadcrumb-wrapper">
                <ol class="breadcrumb">
                    <li>
                        <a href="~/Dashboard">Dashboard</a>
                    </li>
                    <li class="active">Manage_Role</li>
                </ol>
            </div>
        </div>
        <div class="panel">
            <div class="panel-content page-wizard">
                <div class="wizard-div current wizard-sea">
                    <form class="form-horizontal" id="Manage_UserAccess" data-style="sky" role="form">
                        <div class="filtering" style="border: 1px solid #69A8F3;border-radius:4px;padding:10px">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="SearchDepartmentID">Search Function</label><br />
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-1" for="SearchDepartmentID">Department:</label>
                                <div class="col-sm-6">
                                    <select id="SearchDepartmentID" name="SearchDepartmentID" class="form-control form-white" style="width:70%">
                                        <option selected="selected" value="0">All Department</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div id="UserAccessContainer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>

<script src="~/assets/global/plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="~/assets/global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="~/assets/global/plugins/gsap/main-gsap.min.js"></script> <!-- HTML Animations -->
<script src="~/assets/global/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
@*<script src="~/assets/sessionTimeout/jquery.sessionTimeout.js"></script>*@
<script src="~/assets/global/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
<script src="~/assets/global/plugins/bootbox/bootbox.min.js"></script>
<script src="~/assets/global/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
<script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/global/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
<script src="~/assets/global/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
<script src="~/assets/global/plugins/switchery/switchery.min.js"></script> <!-- IOS Switch -->
<script src="~/assets/global/plugins/charts-sparkline/sparkline.min.js"></script> <!-- Charts Sparkline -->
<script src="~/assets/global/plugins/retina/retina.min.js"></script>  <!-- Retina Display -->
<script src="~/assets/global/plugins/jquery-cookies/jquery.cookies.js"></script> <!-- Jquery Cookies, for theme -->
<script src="~/assets/global/plugins/bootstrap/js/jasny-bootstrap.min.js"></script> <!-- File Upload and Input Masks -->
@*<script src="~/assets/global/plugins/select2/select2.min.js"></script>*@ <!-- Select Inputs -->
<script src="~/assets/global/plugins/bootstrap-tags-input/bootstrap-tagsinput.min.js"></script> <!-- Select Inputs -->
<script src="~/assets/global/plugins/bootstrap-loading/lada.min.js"></script> <!-- Buttons Loading State -->
<script src="~/assets/global/plugins/timepicker/jquery-ui-timepicker-addon.min.js"></script> <!-- Time Picker -->
<script src="~/assets/global/plugins/multidatepicker/multidatespicker.min.js"></script> <!-- Multi dates Picker -->
<script src="~/assets/global/plugins/colorpicker/spectrum.min.js"></script> <!-- Color Picker -->
<script src="~/assets/global/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script> <!-- A mobile and touch friendly input spinner component for Bootstrap -->
<script src="~/assets/global/plugins/autosize/autosize.min.js"></script> <!-- Textarea autoresize -->
<script src="~/assets/global/plugins/icheck/icheck.min.js"></script> <!-- Icheck -->
<script src="~/assets/global/plugins/bootstrap-editable/js/bootstrap-editable.min.js"></script> <!-- Inline Edition X-editable -->
<script src="~/assets/global/plugins/bootstrap-context-menu/bootstrap-contextmenu.min.js"></script> <!-- File Upload and Input Masks -->
<script src="~/assets/global/plugins/prettify/prettify.min.js"></script> <!-- Show html code -->
<script src="~/assets/global/plugins/slick/slick.min.js"></script> <!-- Slider -->
<script src="~/assets/global/plugins/countup/countUp.min.js"></script> <!-- Animated Counter Number -->
<!--<script src="~/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script>   Notifications -->
<script src="~/assets/global/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
<script src="~/assets/global/plugins/charts-chartjs/Chart.min.js"></script>  <!-- ChartJS Chart -->
<script src="~/assets/global/plugins/bootstrap-slider/bootstrap-slider.js"></script> <!-- Bootstrap Input Slider -->
<script src="~/assets/global/plugins/visible/jquery.visible.min.js"></script> <!-- Visible in Viewport -->
<script src="~/assets/global/js/builder.js"></script>
<script src="~/assets/global/js/sidebar_hover.js"></script>
<script src="~/assets/global/js/application.js"></script> <!-- Main Application Script -->
<script src="~/assets/global/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
<script src="~/assets/global/js/widgets/notes.js"></script>
<script src="~/assets/global/js/quickview.js"></script> <!-- Quickview Script -->
<script src="~/assets/global/js/pages/search.js"></script> <!-- Search Script -->
<!-- BEGIN PAGE SCRIPTS -->
<script src="~/assets/global/plugins/datatables/jquery.dataTables.min.js"></script> <!-- Tables Filtering, Sorting & Editing -->
<script src="~/assets/global/plugins/summernote/summernote.js"></script>
<script src="~/assets/global/plugins/skycons/skycons.js"></script>
<script src="~/assets/global/plugins/simple-weather/jquery.simpleWeather.min.js"></script>
<script src="~/assets/global/js/widgets/widget_weather.js"></script>
<script src="~/assets/global/js/widgets/todo_list.js"></script>
<!-- END PAGE SCRIPTS -->
@*<script src="~/assets/global/plugins/step-form-wizard/plugins/parsley/parsley.min.js"></script>*@ <!-- OPTIONAL, IF YOU NEED VALIDATION -->
<script src="~/assets/global/plugins/step-form-wizard/js/step-form-wizard.js"></script> <!-- Step Form Validation -->
@*<script src="~/assets/global/js/pages/form_wizard.js"></script>*@
<script src="~/assets/global/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script> <!-- A mobile and touch friendly input spinner component for Bootstrap -->
<script src="~/assets/global/plugins/timepicker/jquery-ui-timepicker-addon.min.js"></script> <!-- Time Picker -->
<script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script> <!-- >Bootstrap Date Picker -->
<!-- BEGIN ADDITIONAL SCRIPTS -->
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script src="~/Scripts/toastr.min.js"></script>

<!-- BEGIN PAGE SCRIPT -->
<script src="../assets/global/plugins/idle-timeout/jquery.idletimer.min.js"></script> <!-- Logout User After Delay -->
<script src="../assets/global/plugins/idle-timeout/jquery.idletimeout.min.js"></script> <!-- Logout User After Delay -->
<script src="../assets/global/js/pages/session_timeout.js"></script>
<!-- END PAGE SCRIPT -->

<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/i18n/grid.locale-en.js"></script>

<!-- JTABLE SCRIPTS-->
<script src="~/Scripts/jtable/jquery.jtable.min.js" type="text/javascript"></script>
<!-- View Status Script-->
<!-- View Status Script-->
<script src="~/ViewsScript/Admin/UserAccess.js"></script>

<script>
    $(function () {
        if (window.location.pathname == "/UserAccess") {
            console.log("path")
            setTimeout(function () {

                $('.jtable-command-button.jtable-edit-command-button').on('click', function () {
                    //alert('ads')
                    $('.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable').css({ "left": "calc(100% /4)", "width": "calc(100% - 60%)", "background": "white", "padding": "10px 15px" });
                })
            }, 3000);

            $('.jtable-command-button.jtable-edit-command-button').on('click', function () {
                $('.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable').css({ "left": "calc(100% /4)", "width": "calc(100% - 60%)", "background": "white", "padding": "10px 15px" });
            })

            setTimeout(function () {

                $('.jtable-toolbar-item.jtable-toolbar-item-add-record').on('click', function () {
                    //alert('adsbb')
                    $('.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable').css({ "left": "calc(100% /4)", "width": "calc(100% - 60%)", "background": "white", "padding": "10px 15px" });
                })
            }, 3000);
        }
    })
</script>