<style>
    .btn {
        color: #7B7A4A !important;
        background-color: #EAE29E !important;
        border-top-color: #7B7A4A !important;
        border-radius: 50px !important;
    }

    select, input {
        border-radius: 50px !important;
    }
</style>
<br />
<form role="form" id="formDiscount" class="form-horizontal" style="width:100%;">

    <div class="row" style="margin-left: 20px; margin-right: 20px; width:100%;">

        <div class="form-group">
            <label  class="control-label col-sm-1" for="HeaderID">Course Selection:</label>


        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="searchID">Service Code:</label>

            <div class="col-sm-4">
                <label class="control-label col-sm-1" for="searchID"> TRMTSYSC10234567</label>

                </br>
                </br>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="searchID">Service Name:</label>

            <div class="col-sm-4">
                <label class="control-label col-sm-1" for="searchID">Complete Anti Acne (Balance) 90 mins</label>

                </br>
                </br>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="searchID">Orignal Unit Price:</label>

            <div class="col-sm-4">
                <label class="control-label col-sm-1" for="searchID">$ 280.00</label>

                </br>
                </br>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="searchID">Enter the Quantity:</label>

            <div class="col-sm-4">
                <input type="text" id="findID" class="form-control form-white" />
                </br>
                </br>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="searchID">Enter the Unit Price:</label>

            <div class="col-sm-4">
                <input type="text" id="findID" class="form-control form-white" />
                </br>
                </br>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="searchID">Total Price:</label>

            <div class="col-sm-4">
                <input type="text" id="findID" class="form-control form-white" />
                </br>
                </br>

            </div>
        </div>
        <div> &nbsp; &nbsp; </div>
        <div class="col-md-12 octCenter" id="rowCourse">

            <div class="modal-header bg-primary" style="border: 1px solid #B0A478;background-color: #E3D595;">
                <div class="col-md-12 octCenter">
                    <p style="text-align:center;color:black">Treatment Details</p>
                </div>
            </div>
            <table class="table">
                <tr>

                    <th >
                        Date
                    </th>
                    <th> &nbsp;</th>

                    <th >
                        Treatment ID
                    </th>
                    <th> &nbsp;</th>
                    <th >
                        Program
                    </th>
                    <th> &nbsp;</th>
                    <th >
                        Type
                    </th>
                    <th> &nbsp;</th>
                    <th >
                        Next Appointment
                    </th>
                    <th> &nbsp;</th>
                    <th>
                        Amount
                    </th>
                </tr>

                <tr>
                    <td >
                        21/06/2018
                    </td>
                    <td> &nbsp;</td>

                    <td >
                        TRMTSYSC10234567
                    </td>
                    <td> &nbsp;</td>
                    <td >
                        Complete Anti Acne (Balance) 90 mins
                    </td>
                    <td> &nbsp;</td>
                    <td >
                        N

                    </td>
                    <td> &nbsp;</td>
                    <td >
                        21/06/2018
                    </td>
                   
                    <td>
                        250.00
                    </td>

                </tr>
                <tr>
                    <td >
                        21/06/2018
                    </td>
                    <td> &nbsp;</td>
                    <td >
                        TRMTSYSC10234567
                    </td>
                    <td> &nbsp;</td>
                    <td >
                        Complete Anti Acne (Balance) 90 mins
                    </td>
                    <td> &nbsp;</td>
                    <td >
                        N

                    </td>
                    <td> &nbsp;</td>
                    <td >
                        21/07/2018
                    </td>
                    <td> &nbsp;</td>
                    <td>
                        250.00
                    </td>

                </tr>
                <tr>
                    <td >
                        21/06/2018
                    </td>
                    <td> &nbsp;</td>
                    <td >
                        TRMTSYSC10234567
                    </td>
                    <td> &nbsp;</td>
                    <td >
                        Complete Anti Acne (Balance) 90 mins
                    </td>
                    <td> &nbsp;</td>
                    <td >
                        N

                    </td>
                    <td> &nbsp;</td>
                    <td >
                        21/08/2018
                    </td>
                 
                    <td>
                        250.00
                    </td>

                </tr>
                <tr>
                    <td >
                        21/06/2018
                    </td>
                    <td> &nbsp;</td>
                    <td >
                        TRMTSYSC10234567
                    </td>
                    <td> &nbsp;</td>
                    <td >
                        Complete Anti Acne (Balance) 90 mins
                    </td>
                    <td> &nbsp;</td>
                    <td >
                        N

                    </td>
                    <td> &nbsp;</td>
                    <td >
                        21/09/2018
                    </td>
                   
                    <td>
                        250.00
                    </td>

                </tr>

            </table>
        </div>
    </div>
</form>
<div class="modal-footer bg-primary" style="border: 1px solid #B0A478;background-color: white;">
    <button type="button" class="btn btn-dark btn-embossed" style="border: 1px solid #E3D595;background-color: #E3D595;color:black" data-dismiss="modal">Confirm</button>
    <button type="button" class="btn btn-dark btn-embossed" style="border: 1px solid #E3D595;background-color: #E3D595;color:black" data-dismiss="modal">Close</button>
    @*<button type="button" class="btn btn-white " id="btnSelect">Submit</button>*@
</div>