@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Home Page";
}
@*<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">@Resources.Resources.Home</li>
        </ol>
    </nav>*@
<div class="text-center">

    <div class="row">
        @*<div class="col-md-1 col-sm-auto col-1" style="padding:0">&nbsp;</div>*@
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><a href="~/Service/Index" title="Catalog"><img src="~/images/Octagon-Catalog.png" alt="catalog" class="img-fluid rotatingimg" /></a></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><a href="~/Customer/Search" title="Customer"><img src="~/images/Octagon-Customer.png" alt="customer"  class="img-fluid rotatingimg"  /></a></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><img src="~/images/Octagon-Staff.png"  class="img-fluid rotatingimg"  /></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><img src="~/images/Octagon-center.png"  class="img-fluid rotatingimg" ></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><img src="~/images/Octagon-empty.png"  class="img-fluid rotatingimg"  /></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><img src="~/images/Octagon-empty.png"  class="img-fluid rotatingimg"  /></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><img src="~/images/Octagon-empty.png"  class="img-fluid rotatingimg"  /></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
    </div>

    @*
    <div class="row">
        <div class="col-md-1 col-sm-auto col-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><a href="~/Customer/Search" title="Customer"><img src="~/images/Octagon-Customer.png" alt="customer" class="img-fluid" /></a></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><img src="~/images/Octagon-Staff.png" class="img-fluid" /></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><a href="~/Service/Index" title="Catalog"><img src="~/images/Octagon-Catalog.png" alt="catalog" class="img-fluid" /></a></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><img src="~/images/Octagon-center.png" class="img-fluid"></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><img src="~/images/Octagon-empty.png" class="img-fluid" /></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><img src="~/images/Octagon-empty.png" class="img-fluid" /></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"><img src="~/images/Octagon-empty.png" class="img-fluid" /></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0"></div>
        <div class="col-md-1 col-sm-auto col-lg-1" style="padding:0">&nbsp;</div>
    </div>
    *@
</div>
    @*<style>
        body {
            overflow: hidden;
        }
    </style>*@