
@{
    ViewBag.Title = "Reedemption";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<h2>Reward</h2>
<link rel="stylesheet" href="/assets/adminlte/bootstrap/css/bootstrap.min.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/assets/adminlte/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="/assets/adminlte/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="/assets/css/normalize.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.17/js/jquery.dataTables.min.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>

<script src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>

<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>

<script src="https://cdn.datatables.net/1.10.17/css/jquery.dataTables.min.css"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css"></script>

<script src="https://cdn.datatables.net/select/1.2.6/css/select.dataTables.min.css"></script>
<script src="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css"></script>


<style>
    .rowCard {
        padding: 2px 16px;
    }


    .card {
        position: relative;
        border-radius: 3px;
        background: #ffffff;
        margin-bottom: 20px;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        padding: 10px 16px;
    }

    img.responsive {
        margin-bottom: 0;
        margin-top: 0;
    }


    .octCenter {
        text-align: center;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    <style > body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }



    /* Style the tab */
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

        /* Style the buttons that are used to open the tab content */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #ddd;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #ccc;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
</style>

<script>
    $(function () {
        $("#datepicker").datepicker();
        $("#datepickertwo").datepicker();
    });
</script>
<section>
    <div class="page-content">
        @*<div class="header">
                <h2><strong>Dashboard</strong> </h2>
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li>
                            <a href="~/">BSMS</a>
                        </li>
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>*@




        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">CUSTOMER NO</label></div>
                                        <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Customer No" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">HAND PHONE</label></div>
                                        <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in H/P No" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">CUSTOMER NAME</label></div>
                                        <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Customer Name" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;"></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">REFERENCE CODE</label></div>
                                        <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Reference Code" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;"></div>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" style="color:#7B7A4A;height:30px;width:100px;border-radius:20px;border-color:#B0A478;background-color:#EAE29E" class="btn btn-primary btn-sm" onclick="myFunctions()">
                                <i class=""></i> Search
                            </button>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="background-color:#EAE292;border-color:#E3D595"
                            <div class="card-header" id=advancesearch >
                                <strong class="card-title"  style="color:#7B7A4A">ADVANCE SEARCH</strong>
                            </div>
                            <div class="card-body" id="enableadvancesearch" style="color:#7B7A4A">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">TYPE</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Customer No" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">DOB</label></div>
                                            <div class="col col-md-5"><input type="date" id="text-input" name="text-input" placeholder="Key in Date" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">SITE CODE</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Customer Name" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">CONSULTANTS</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Reference Code" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">THERAPISTS</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Customer Name" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">JOIN DATE</label></div>
                                            <div class="col col-md-5"><input type="date" id="text-input" name="text-input" placeholder="Key in Date" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">CUSTOMER CODE</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Reference Code" class="form-control"></div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" style="color:#7B7A4A;height:30px;width:100px;border-radius:20px;border-color:#B0A478;background-color:#EAE29E" class="btn btn-primary btn-sm" onclick="myFunctions()">
                                    <i ></i> Search
                                </button>
							</div>
							</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="background-color:#EAE292;border-color:#E3D595"
                            <div class="card-header" >
                                <strong class="card-title" style="color:#7B7A4A">RESULT</strong>
                            </div>
                            <div class="card-body" id="myDIV" style="color:#7B7A4A">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered" style="background-color:#EAE292;border-color:#E3D595">
                                    <thead style="background-color:#EAE292;border-color:#E3D595">
                                        <tr >
                                            <th style="color:#7B7A4A">CARD NO</th>
                                            <th style="color:#7B7A4A">NRIC</th>
                                            <th style="color:#7B7A4A">NAME</th>
                                            <th style="color:#7B7A4A">PHONE (H)</th>
                                            <th style="color:#7B7A4A">PHONE (HP)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="color:#7B7A4A" onclick="EnableTableTwo()">INVSYS002</td>
                                            <td style="color:#7B7A4A">23/2/2018</td>
                                            <td style="color:#7B7A4A">400</td>
                                            <td style="color:#7B7A4A">200</td>
                                            <td style="color:#7B7A4A">0124532</td>
                                        </tr>
                                        <tr>
                                            <td style="color:#7B7A4A">ZXNVSYS002</td>
                                            <td style="color:#7B7A4A">23/2/2018</td>
                                            <td style="color:#7B7A4A">400</td>
                                            <td style="color:#7B7A4A">200</td>
                                            <td style="color:#7B7A4A">0124532</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="content mt-3">
                    <div class="animated fadeIn">
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="tab">
                                            <button class="tablinks" onclick="openreddem(event, 'reddemtwo')">
                                                <img style="height:200px" src="~/img/Octagon Rewards.png" class="img-fluid rotatingimg"/>
                                            </button>
                                            <button class="tablinks" onclick="openreddem(event, 'reddemthree')">
                                                <img style="height:200px" src="~/img/Octagon Redemption.png" class="img-fluid rotatingimg" />
                                            </button>
                                            <button class="tablinks" onclick="openreddem(event, 'reddemone')" id="defaultOpen" value="first">
                                                <img style="height:200px" src="~/img/Octagon Trans History.png" class="img-fluid rotatingimg" />
                                            </button>
                                        </div>

                                        <!-- Tab content -->
                                        <div id="reddemone" class="tabcontent">
                                            <div class="card-body" id="myDIVTwo">
                                                <div class="row form-group" style="color:#7B7A4A">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label">TRANSACTION #: </label></div>
                                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="TRANSACTION NO." style="border-radius:20px;color:#7B7A4A;border-color:#7B7A4A" class="form-control"></div>
                                                </div>
                                                <div class="row form-group" style="color:#7B7A4A">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label">SWIPE CARD: </label></div>
                                                    <div class="col-12 col-md-3"><input type="text" id="text-input" name="text-input" placeholder="SWIPE CARD" style="border-radius:20px;color:#7B7A4A;border-color:#7B7A4A" class="form-control"></div>

                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label">BALANCE POINTS: </label></div>
                                                    <div class="col-12 col-md-3"><input type="text" id="text-input" name="text-input" placeholder="BALANCE POINTS" style="border-radius:20px;color:#7B7A4A;border-color:#7B7A4A" class="form-control"></div>
                                                </div>
                                                <div class="row form-group" style="color:#7B7A4A">

                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label">NAME : </label></div>
                                                    <div class="col-12 col-md-3"><input type="text" id="text-input" name="text-input" placeholder="BALANCE POINTS" style="border-radius:20px;color:#7B7A4A;border-color:#7B7A4A" class="form-control"></div>
                                                </div>
                                                <div class="row form-group" style="color:#7B7A4A">
                                                    <ul class="nav nav-pills nav-justified mb-3 mt-2" id="pills-tab" role="tablist" style="color:#7B7A4A">
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" id="myBtn" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                                                MANUAL
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">SAMPLE</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> SAMPLE</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"> SAMPLE</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="row form-group">
                                                    <ul class="nav nav-pills nav-justified mb-3 mt-2" id="pills-tab" role="tablist">
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px;" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">FACIAL</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> SAMPLE</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">SAMPLE</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">SAMPLE</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card" style="background-color:#EAE292;border-color:#E3D595"
                            <div class="card-header">
                                <strong class="card-title" style="color:#7B7A4A">TRANSACTION</strong>
                            </div>
                            <div class="card-body" id="tblLast" style="color:#7B7A4A">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered" style="background-color:#EAE292;border-color:#E3D595">
                                    <thead  style="background-color:#EAE292;border-color:#E3D595">
                                        <tr>
                                            <th style="color:#7B7A4A">SNo</th>
                                            <th style="color:#7B7A4A">DATE</th>
                                            <th style="color:#7B7A4A">REWARD</th>
                                            <th style="color:#7B7A4A">POINT</th>
                                            <th style="color:#7B7A4A">NEW BALANCED</th>
                                            <th style="color:#7B7A4A">REMAINING BALANCED</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="color:#7B7A4A">Test</td>
                                            <td style="color:#7B7A4A"> 23/2/2018</td>
                                            <td style="color:#7B7A4A">400</td>
                                            <td style="color:#7B7A4A">200</td>
                                            <td style="color:#7B7A4A">SYS</td>
                                            <td style="color:#7B7A4A">SYS</td>

                                        </tr>
                                        <tr>
                                            <td style="color:#7B7A4A">ZXNVSYS002</td>
                                            <td style="color:#7B7A4A">23/2/2018</td>
                                            <td style="color:#7B7A4A">400</td>
                                            <td style="color:#7B7A4A">200</td>
                                            <td style="color:#7B7A4A">SYS</td>
                                            <td style="color:#7B7A4A">SYS</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                                                </div>

                                            </div>
                                            <div class="row">

                                                <div id="myModal" class="modal">
                                                    <!-- Modal content -->
                                                    <div class="modal-content">
                                                        <div class="row form-group">
                                                            <ul class="nav nav-pills nav-justified mb-3 mt-2" id="pills-tab" role="tablist">
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" onclick="AddPoints()" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                                                        10
                                                                    </a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">20</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> 30</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"> 40</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="row form-group">
                                                            <ul class="nav nav-pills nav-justified mb-3 mt-2" id="pills-tab" role="tablist">
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">100</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> 200</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> 50</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">5</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <button id="popup" onclick="myFunction()">  </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="reddemtwo" class="tabcontent" style="border: 0px solid #ccc;">
                                            <div class="card-body" id="myDIVTwo">
                                                <div class="row form-group" style="color:#7B7A4A">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label">TRANSACTION #: </label></div>
                                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="TRANSACTION NO." style="border-radius:20px;color:#7B7A4A;border-color:#7B7A4A" class="form-control"></div>
                                                </div>
                                                <div class="row form-group" style="color:#7B7A4A">
                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label">SWIPE CARD: </label></div>
                                                    <div class="col-12 col-md-3"><input type="text" id="text-input" name="text-input" placeholder="SWIPE CARD" style="border-radius:20px;color:#7B7A4A;border-color:#7B7A4A" class="form-control"></div>

                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label">BALANCE POINTS: </label></div>
                                                    <div class="col-12 col-md-3"><input type="text" id="text-input" name="text-input" placeholder="BALANCE POINTS" style="border-radius:20px;color:#7B7A4A;border-color:#7B7A4A" class="form-control"></div>
                                                </div>
                                                <div class="row form-group" style="color:#7B7A4A">

                                                    <div class="col col-md-3"><label for="text-input" class="form-control-label">NAME : </label></div>
                                                    <div class="col-12 col-md-3"><input type="text" id="text-input" name="text-input" placeholder="BALANCE POINTS" style="border-radius:20px;color:#7B7A4A;border-color:#7B7A4A" class="form-control"></div>
                                                </div>
                                                <div class="row form-group" style="color:#7B7A4A">
                                                    <ul class="nav nav-pills nav-justified mb-3 mt-2" id="pills-tab" role="tablist" style="color:#7B7A4A">
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" id="myBtnTwo" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                                                                MANUAL
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">SAMPLE</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> SAMPLE</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false"> SAMPLE</a>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card" style="background-color:#EAE292;border-color:#E3D595"
                                <div class="card-header">
                                    <strong class="card-title" style="color:#7B7A4A">TRANSACTION</strong>
                                </div>
                                <div class="card-body" id="tblLasttwo" style="color:#7B7A4A">
                                    <table id="bootstrap-data-table" class="table table-striped table-bordered" style="background-color:#EAE292;border-color:#E3D595">
                                        <thead  style="background-color:#EAE292;border-color:#E3D595">
                                            <tr>
                                            <th style="color:#7B7A4A">SNo</th>
                                            <th style="color:#7B7A4A">DATE</th>
                                            <th style="color:#7B7A4A">REDEEM ITEM</th>
                                            <th style="color:#7B7A4A">POINT</th>
                                            <th style="color:#7B7A4A">QTY</th>
                                            <th style="color:#7B7A4A">TOTAL POINTS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="color:#7B7A4A">Test</td>
                                            <td style="color:#7B7A4A"> 23/2/2018</td>
                                            <td style="color:#7B7A4A">400</td>
                                            <td style="color:#7B7A4A">200</td>
                                            <td style="color:#7B7A4A">SYS</td>
                                            <td style="color:#7B7A4A">SYS</td>

                                        </tr>
                                        <tr>
                                            <td style="color:#7B7A4A">ZXNVSYS002</td>
                                            <td style="color:#7B7A4A">23/2/2018</td>
                                            <td style="color:#7B7A4A">400</td>
                                            <td style="color:#7B7A4A">200</td>
                                            <td style="color:#7B7A4A">SYS</td>
                                            <td style="color:#7B7A4A">SYS</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-6">
                                                        <button type="submit" class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                            <i class=""></i> Clear Line
                                                        </button>
                                                        <button type="submit" class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                            <i class=""></i> Clear All
                                                        </button>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <button type="submit" class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                            <i class=""></i> Done
                                                        </button>
                                                        <button type="submit" class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                            <i class=""></i> Close
                                                        </button>

                                                    </div>
                                                </div>
                                                <div id="myModalTwo" class="modal">
                                                    <!-- Modal content -->
                                                    <div class="modal-content">
                                                        <div class="row form-group">
                                                            <ul class="nav nav-pills nav-justified mb-3 mt-2" id="pills-tab" role="tablist">
                                                                <li class="nav-item">
                                                                    <div class="row form-group" style="color:#7B7A4A">
                                                                        <div class="col col-md-2"><label for="text-input" class="form-control-label">BALANCE POINTS : </label></div>
                                                                        <div class="col-6 col-md-4"><input type="text" id="text-input" name="text-input" placeholder="KEY IN HERE" style="border-radius:20px;color:#7B7A4A;border-color:#7B7A4A" class="form-control"></div>

                                                                    </div>
                                                                </li>

                                                            </ul>
                                                        </div>
                                                        <div class="row form-group">
                                                            <ul class="nav nav-pills nav-justified mb-3 mt-2" id="pills-tab" role="tablist">
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" onclick="AddPointsTwo()" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">FACIAL</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> MASSAGE</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> SAMPLE </a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">SAMPLE</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="row form-group">
                                                            <ul class="nav nav-pills nav-justified mb-3 mt-2" id="pills-tab" role="tablist">
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">FACIAL</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> MASSAGE</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"> SAMPLE </a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a style="color:#7B7A4A;background-color:#EAE29E;border-top-color:#7B7A4A;border-radius:50px" class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">SAMPLE</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="row form-group" id="tblfromPopup">
                                                            @*<table id="addrow" class="table table-striped table-bordered" style="background-color:#EAE292;border-color:#E3D595">
                                                                    <thead style="background-color:#EAE292;border-color:#E3D595">
                                                                        <tr>
                                                                            <th style="color:#7B7A4A">SNo</th>
                                                                            <th style="color:#7B7A4A">REDEEM ITEM</th>
                                                                            <th style="color:#7B7A4A">POINT</th>
                                                                            <th style="color:#7B7A4A">QTY</th>
                                                                            <th style="color:#7B7A4A">TOTAL POINT</th>

                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td style="color:#7B7A4A">1</td>
                                                                            <td style="color:#7B7A4A" onclick="AddPointFromPopup()"> FACE WASH </td>
                                                                            <td style="color:#7B7A4A">400</td>
                                                                            <td style="color:#7B7A4A">200</td>
                                                                            <td style="color:#7B7A4A">500</td>


                                                                        </tr>
                                                                        <tr>
                                                                            <td style="color:#7B7A4A">2</td>
                                                                            <td style="color:#7B7A4A">HEAD MASSAGE</td>
                                                                            <td style="color:#7B7A4A">400</td>
                                                                            <td style="color:#7B7A4A">200</td>
                                                                            <td style="color:#7B7A4A">200</td>

                                                                        </tr>
                                                                    </tbody>
                                                                </table>*@

                                                            @*<table id="example" class="display" cellspacing="0" width="100%">*@
                                                            <div id="addrow" class="table-editable">

                                                                <table class="table">
                                                                    <tr>
                                                                        <th style="color:#7B7A4A">SNO</th>
                                                                        <th style="color:#7B7A4A">DATE</th>
                                                                        <th style="color:#7B7A4A">REDEEM ITEM</th>
                                                                        <th style="color:#7B7A4A">POINT</th>
                                                                        <th style="color:#7B7A4A">QTY</th>
                                                                        <th style="color:#7B7A4A">TOTAL POINT</th>
                                                                        <th style="color:#7B7A4A">NEW BALANCE</th>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="color:#7B7A4A" contenteditable="true">1</td>
                                                                        <td style="color:#7B7A4A" contenteditable="true">24/8/2018</td>
                                                                        <td style="color:#7B7A4A" contenteditable="true" onclick="AddPointFromPopup()">FACIAL</td>
                                                                        <td style="color:#7B7A4A" contenteditable="true">2000</td>
                                                                        <td style="color:#7B7A4A" contenteditable="true">1</td>
                                                                        <td style="color:#7B7A4A" contenteditable="true">80000</td>
                                                                        <td style="color:#7B7A4A" contenteditable="true">1250</td>
                                                                    </tr>
                                                                    <!-- This is our clonable table line -->
                                                                    <tr class="hide">
                                                                        <td style="color:#7B7A4A" contenteditable="true">Untitled</td>
                                                                        <td style="color:#7B7A4A" contenteditable="true">undefined</td>
                                                                        <td style="color:#7B7A4A">
                                                                            <span class="table-remove glyphicon glyphicon-remove"></span>
                                                                        </td>
                                                                        <td style="color:#7B7A4A">
                                                                            <span class="table-up glyphicon glyphicon-arrow-up"></span>
                                                                            <span class="table-down glyphicon glyphicon-arrow-down"></span>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </div>


                                                        </div>
                                                        <div class="row form-group" id="btnlabels">
                                                            <div class="col-md-12">
                                                                <div class="col-md-6">
                                                                    <button type="submit" class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                                        <i class=""></i> Clear Line
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                                        <i class=""></i> Clear All
                                                                    </button>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <button type="submit" class="btn btn-primary btn-sm" id="add" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                                        <i class=""></i> Change Qty
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                                        <i class=""></i> Confirm
                                                                    </button>
                                                                    <button type="submit" class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                                        <i class=""></i> Close
                                                                    </button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <button id="popup" onclick="myFunction()">  </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="reddemthree" class="tabcontent" >
                                            <div class="page-content">
                                                <div class="content mt-3">
                                                    <div class="animated fadeIn">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="card" style="border-radius: 20px;">
                                                                    <div class="form-group">
                                                                        <div class="row form-group">
                                                                            <div class="card-body">
                                                                                <div class="col-md-12">
                                                                                    <div class="col-md-2">
                                                                                        <div class="radio">
                                                                                            <label for="radio1" class="form-check-label " style="color:#7B7A4A">
                                                                                                <input type="radio" id="radio1" name="radios" checked="checked" value="option1" class="form-check-input" style="color:#7B7A4A;border-radius:20px">ALL TYPE
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="radio">
                                                                                            <label for="radio1" class="form-check-label " style="color:#7B7A4A">
                                                                                                <input type="radio" id="radio1" name="radios" value="option1" class="form-check-input" style="color:#7B7A4A;border-radius:20px">REWARD
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="radio">
                                                                                            <label for="radio1" class="form-check-label " style="color:#7B7A4A">
                                                                                                <input type="radio" id="radio1" name="radios" value="option1" class="form-check-input" style="color:#7B7A4A;border-radius:20px">REDEEM
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="radio">
                                                                                            <label for="radio1" class="form-check-label " style="color:#7B7A4A">
                                                                                                <input type="radio" id="radio1" name="radios" value="option1" class="form-check-input" style="color:#7B7A4A;border-radius:20px">VOID
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2">
                                                                                        <div class="radio">
                                                                                            <label for="radio1" class="form-check-label " style="color:#7B7A4A">
                                                                                                <input type="radio" id="radio1" name="radios" value="option1" class="form-check-input" style="color:#7B7A4A;border-radius:20px">ADJUSTMENT
                                                                                            </label>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12" style="text-align: center;">
                                                                                    <button type="submit" class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                                                        <i class=""></i>Search
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="card" style="background-color:#EAE292;border-color:#E3D595"
                            <div class="card-header" >
                                <strong class="card-title" style="color:#7B7A4A">RESULT</strong>
                            </div>
                            <div class="card-body" style="color:#7B7A4A">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered" style="background-color:#EAE292;border-color:#E3D595">
                                    <thead style="background-color:#EAE292;border-color:#E3D595">
                                        <tr>
                                            <th style="color:#7B7A4A">TRANSACTION NO</th>
                                            <th style="color:#7B7A4A">REF NO</th>
                                            <th style="color:#7B7A4A">CUSTOMER NAME</th>
                                            <th style="color:#7B7A4A">CARD NO</th>
                                            <th style="color:#7B7A4A">TRANSAMOUNT</th>
                                            <th style="color:#7B7A4A">TOTAL POINT</th>
                                            <th style="color:#7B7A4A">STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="color:#7B7A4A">1234</td>
                                            <td style="color:#7B7A4A">REF123</td>
                                            <td style="color:#7B7A4A">Yoonus</td>
                                            <td style="color:#7B7A4A">X123Y789</td>
                                            <td style="color:#7B7A4A">250</td>
                                            <td style="color:#7B7A4A">500</td>
                                            <td style="color:#7B7A4A">FE</td>
                                        </tr>
                                        <tr>
                                            <td style="color:#7B7A4A">4567</td>
                                            <td style="color:#7B7A4A">REF143</td>
                                            <td style="color:#7B7A4A">Yoonus</td>
                                            <td style="color:#7B7A4A">X4503Y789</td>
                                            <td style="color:#7B7A4A">950</td>
                                            <td style="color:#7B7A4A">500</td>
                                            <td style="color:#7B7A4A">SE</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <button type="submit" id="myBtnchange" class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:170px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                            <i class=""></i>For Refer by Change (VOID)
                                        </button>
                                    </div>
                                        <div class="col-md-2">
                                            <button type="submit" id="myBtnvoid" class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                <i class=""></i>VOID
                                            </button>
                                        </div>
                                            <div class="col-md-4">
                                                <button type="submit"  class="btn btn-primary btn-sm" style="border-radius:20px;height:30px;width:100px;background-color:#EAE29E;border-top-color:#B0A478;border-color:#B0A478;color:#7B7A4A">
                                                    <i class=""></i>CANCEL
                                                </button>
                                            </div>
                                        </div>
                            </div>
                            <div id="myModalthree" class="modal">
                                <!-- Modal content -->
                                <div class="modal-content">
                                    <span class="close">&times;</span>
                                    <p>ARE YOU SURE ? DO YOU WANT TO VOID IT ?</p>
                                    <button id="popup" onclick="myFunction()"> OK </button>
                                </div>
                            </div>
                        </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div><!-- .animated -->
    </div><!-- .content -->
    </div>

    </div><!-- .animated -->

</section>
<script>

    $(document).ready(function () {
        $("#popup").click(function () {
            $("#myModal").hide();
            $("#myModalthree").hide();
        });
        $("#popupthree").click(function () {
            $("#myModalthree").hide();
        });
    });
    function myFunctionThree() {
        $("#myModalthree").hide();

    }

    function myFunctions() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function AddPoints() {
        var x = document.getElementById("tblLast");
        $("#myModal").hide();
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }



    function AddPointstwo() {
        //var x = document.getElementById("tblLast");
        var x = document.getElementById("tblfromPopup");


        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $("#myModalTwo").show();
    }
    function AddPointFromPopup() {

        var x = document.getElementById("tblLasttwo");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        $("#myModalTwo").hide();
    }




    function EnableTableTwo() {
        var x = document.getElementById("myDIVTwo");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    // Get the modal
    var modal = document.getElementById('myModal');
    var modaltwo = document.getElementById('myModalTwo');
    var modalthree = document.getElementById('myModalthree');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");
    var btntwo = document.getElementById("myBtnTwo");
    var btnvoid = document.getElementById("myBtnvoid");
    var btnchange = document.getElementById("myBtnchange");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }
    btntwo.onclick = function () {

        modaltwo.style.display = "block";
    }
    btnvoid.onclick = function () {
        modalthree.style.display = "block";
    }
    btnchange.onclick = function () {
        modalthree.style.display = "block";
    }
    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style media="screen">
    img {
        max-width: 8%;
        /*transform: translate(50%, 0);*/
    }

    .first {
        position: relative;
        top: calc(100px/2);
    }

    .leftpad {
        /*padding-left: 4%;*/
    }

    .hideimg {
        visibility: hidden;
    }
</style>
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
<script src="~/assets/global/plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="~/assets/global/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="~/assets/global/plugins/gsap/main-gsap.min.js"></script> <!-- HTML Animations -->
<script src="~/assets/global/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
@*<script src="~/assets/sessionTimeout/jquery.sessionTimeout.js"></script>*@
<script src="~/assets/global/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
<script src="~/assets/global/plugins/bootbox/bootbox.min.js"></script>
<script src="~/assets/global/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
<script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="~/assets/global/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
<script src="~/assets/global/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
<script src="~/assets/global/plugins/switchery/switchery.min.js"></script> <!-- IOS Switch -->
<script src="~/assets/global/plugins/retina/retina.min.js"></script>  <!-- Retina Display -->
<script src="~/assets/global/plugins/jquery-cookies/jquery.cookies.js"></script> <!-- Jquery Cookies, for theme -->
<script src="~/assets/global/plugins/bootstrap/js/jasny-bootstrap.min.js"></script> <!-- File Upload and Input Masks -->
<script src="~/assets/global/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script> <!-- A mobile and touch friendly input spinner component for Bootstrap -->
<script src="~/assets/global/plugins/prettify/prettify.min.js"></script> <!-- Show html code -->
<script src="~/assets/global/plugins/slick/slick.min.js"></script> <!-- Slider -->
<script src="~/assets/global/plugins/countup/countUp.min.js"></script> <!-- Animated Counter Number -->
<script src="~/assets/global/plugins/noty/jquery.noty.packaged.min.js"></script>  <!-- Notifications -->
<script src="~/assets/global/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
<script src="~/assets/global/plugins/bootstrap-slider/bootstrap-slider.js"></script> <!-- Bootstrap Input Slider -->
<script src="~/assets/global/plugins/visible/jquery.visible.min.js"></script> <!-- Visible in Viewport -->
<script src="~/assets/global/js/builder.js"></script>
<script src="~/assets/global/js/sidebar_hover.js"></script>
<script src="~/assets/global/js/application.js"></script> <!-- Main Application Script -->
<script src="~/assets/global/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
<script src="~/assets/global/js/widgets/notes.js"></script>
<script src="~/assets/global/js/quickview.js"></script> <!-- Quickview Script -->
<script src="~/assets/global/js/pages/search.js"></script> <!-- Search Script -->
<script src="~/assets/global/page-builder/js/builder_page.js"></script>

@*DataTable*@
<link rel="stylesheet" href="~/assets/css/lib/datatable/dataTables.bootstrap.min.css">
<script src="~/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/plugins.js"></script>
<script src="~/assets/js/main.js"></script>

<script src="~/assets/js/lib/data-table/datatables.min.js"></script>
<script src="~/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="~/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="~/assets/js/lib/data-table/jszip.min.js"></script>
<script src="~/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="~/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="~/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="~/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="~/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="~/assets/js/lib/data-table/datatables-init.js"></script>

<link href="~/assets/scss/style.css" rel="stylesheet" />
<!-- BEGIN PAGE SCRIPT -->
<script src="~/assets/js/lib/chosen/chosen.jquery.min.js"></script>
<!-- END PAGE SCRIPT -->

<script type="text/javascript">
    $(document).ready(function () {
        $("#myDIV").hide();
        $("#myDIVTwo").hide();
        $("#tblLast").hide();
        $("#enableadvancesearch").hide();
        $('#bootstrap-data-table-export').DataTable();
        document.getElementById("defaultOpen").click();


    });

    $("#advancesearch").click(function () {
        $("#enableadvancesearch").toggle();
    });

    function openreddem(evt, cityName) {

        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";

        //disbaletabtable
        if (cityname = "reddemtwo") {
            $("#tblLasttwo").hide();
        }
        if (cityname = "reddemthree") {
            $("#btnlabels").hide();
        }



    }
    var $TABLE = $('#addrow');


    $('.addrow-add').click(function () {
        var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');
        $TABLE.find('addrow').append($clone);
    });

    //$('.addrow-remove').click(function () {
    //    $(this).parents('tr').detach();
    //});

    //$('.addrow-up').click(function () {
    //    var $row = $(this).parents('tr');
    //    if ($row.index() === 1) return; // Don't go above the header
    //    $row.prev().before($row.get(0));
    //});

    //$('.addrow-down').click(function () {
    //    var $row = $(this).parents('tr');
    //    $row.next().after($row.get(0));
    //});

    // A few jQuery helpers for exporting only
    jQuery.fn.pop = [].pop;
    jQuery.fn.shift = [].shift;

    $BTN.click(function () {
        var $rows = $TABLE.find('tr:not(:hidden)');
        var headers = [];
        var data = [];

        // Get the headers (add special header logic here)
        $($rows.shift()).find('th:not(:empty)').each(function () {
            headers.push($(this).text().toLowerCase());
        });

        // Turn all existing rows into a loopable array
        $rows.each(function () {
            var $td = $(this).find('td');
            var h = {};

            // Use the headers from earlier to name our hash keys
            headers.forEach(function (header, i) {
                h[header] = $td.eq(i).text();
            });

            data.push(h);
        });


    });

</script>

