@model app.bsms.Models.Account.RegisterModel
@{
    ViewBag.Title = "ServiceAccount";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section>
    <div class="header">
        <h2><strong>Manage Customer - Service Account</strong> </h2>
    </div>
    <div class="page-content">
        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="form-group">
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">CUSTOMER NO</label></div>
                                        <div class="col col-md-5">
                                            <input type="text" id="text-input" name="text-input" placeholder="Key in Customer No" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">HAND PHONE</label></div>
                                        <div class="col col-md-5">
                                            <input type="text" id="text-input" name="text-input" placeholder="Key in H/P No" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">CUSTOMER NAME</label></div>
                                        <div class="col col-md-5">
                                            <input type="text" id="text-input" name="text-input" placeholder="Key in Customer Name" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row form-group">
                                        <div class="col col-md-5"><label for="text-input" class="form-control-label" style="color:#7B7A4A">REFERENCE CODE</label></div>
                                        <div class="col col-md-5">
                                            <input type="text" id="text-input" name="text-input" placeholder="Key in Reference Code" class="form-control" style="border-radius: 20px;
    border-color: #B0A478;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" style="color:#7B7A4A;height:30px;width:100px;border-radius:20px;border-color:#B0A478;background-color:#EAE29E" class="btn btn-primary btn-sm" onclick="myFunctions()">
                                <i class=""></i> Search
                            </button>
                            @*@Html.ActionLink("Back", "DashBoard", "", new { @class = "btn btn-sm" })*@
                            @Html.ActionLink("Reset", "", "", new { @class = "btn btn-sm" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="background-color:#EAE292;border-color:#E3D595"
                            <div class="card-header" id=advancesearch >
                                <strong class="card-title"  style="color:#7B7A4A">ADVANCE SEARCH</strong>
                            </div>
                            <div class="card-body" id="enableadvancesearch" style="color:#7B7A4A">
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">TYPE</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Customer No" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">DOB</label></div>
                                            <div class="col col-md-5"><input type="date" id="text-input" name="text-input" placeholder="Key in Date" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">SITE CODE</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Customer Name" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">CONSULTANTS</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Reference Code" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">THERAPISTS</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Customer Name" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">JOIN DATE</label></div>
                                            <div class="col col-md-5"><input type="date" id="text-input" name="text-input" placeholder="Key in Date" class="form-control"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row form-group">
                                            <div class="col col-md-5"><label for="text-input" class=" form-control-label">CUSTOMER CODE</label></div>
                                            <div class="col col-md-5"><input type="text" id="text-input" name="text-input" placeholder="Key in Reference Code" class="form-control"></div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" style="color:#7B7A4A;height:30px;width:100px;border-radius:20px;border-color:#B0A478;background-color:#EAE29E" class="btn btn-primary btn-sm" onclick="myFunctions()">
                                    <i></i> Search
                                </button>
                            </div>
							</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"  style="text-align: center;">
                        <a href="~/ManageCustomer/ServiceAccount" title="Service Account">
                            <img src="~/img/MenuButton/otc2/Octagon-Account.png" alt="Service" class="responsive img-fluid rotatingimg" style="width:8%" />
                        </a>
                        <a href="~/ManageCustomer/ProductAccount" title="Product Account">
                            <img src="~/img/MenuButton/otc2/Octagon Product.png" alt="Product Account" class="responsive img-fluid rotatingimg" style="width:10%"/>
                        </a>
                        <a href="~/ManageCustomer/PrepaidAccount" title="Prepaid Account">
                            <img src="~/img/MenuButton/otc2/Octagon Prepaid.png" alt="Prepaid Account" class="responsive img-fluid rotatingimg" style="width:10%"/>
                        </a>
                        <a href="~/ManageCustomer/CreditNote" title="Credit Note">
                            <img src="~/img/MenuButton/otc2/Octagon Credit Note.png" alt="Credit Note" class="responsive img-fluid rotatingimg" style="width:10%"/>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card" style="background-color:#EAE292;border-color:#E3D595">
                            <div class="card-header">
                                <strong class="card-title" style="color:#7B7A4A">RESULT</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkbox104">
                                                </div>
                                            </th>
                                            <th>DATE</th>
                                            <th>TRANSACTION #</th>
                                            <th>TREATMENT #</th>
                                            <th>DESCRIPTION</th>
                                            <th>PAYMENT</th>
                                            <th>CREDIT BALANCE </th>
                                            <th>OUTSTANDING BALANCE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkbox104">
                                                </div>
                                            </td>
                                            <td>23/2/2018</td>
                                            <td>NS1AV100026</td>
                                            <td>TRMT1AV100476</td>
                                            <td>CANCEL ADD ON OXG.P.E</td>
                                            <td>128.00</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkbox104">
                                                </div>
                                            </td>
                                            <td>30/05/2018</td>
                                            <td>INVSYC101914</td>
                                            <td>TRMTSYC104126</td>
                                            <td>360000095 - E/LIGHTENING PKG (RM 388)</td>
                                            <td>88.00</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkbox104">
                                                </div>
                                            </td>
                                            <td>30/05/2018</td>
                                            <td>INVSYC101974</td>
                                            <td>TRMTSYC104126</td>
                                            <td>360000095 - E/LIGHTENING PKG (RM 188)</td>
                                            <td>76.60</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkbox104">
                                                </div>
                                            </td>
                                            <td>30/05/2018</td>
                                            <td>INVSYC108264</td>
                                            <td>TRMTSYC104126</td>
                                            <td>360000095 - E/LIGHTENING PKG (RM 288)</td>
                                            <td>432.60</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkbox104">
                                                </div>
                                            </td>
                                            <td>28/05/2018</td>
                                            <td>INVSYC101743</td>
                                            <td>TRMTSYC104126</td>
                                            <td>360000095 - E/LIGHTENING PKG (RM 188)</td>
                                            <td>128.00</td>
                                            <td>128.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkbox104">
                                                </div>
                                            </td>
                                            <td>21/05/2018</td>
                                            <td>INVSYC101914</td>
                                            <td>TRMTSYC104126</td>
                                            <td>360000095 - E/LIGHTENING PKG (RM 188)</td>
                                            <td>101.60</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkbox104">
                                                </div>
                                            </td>
                                            <td>12/06/2018</td>
                                            <td>INVSYC1020184</td>
                                            <td>TRMTSYC105526</td>
                                            <td>360000137 - E/LIGHTENING PKG (RM 488)</td>
                                            <td>198.60</td>
                                            <td>198.60</td>
                                            <td>0.00</td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkbox104">
                                                </div>
                                            </td>
                                            <td>30/05/2018</td>
                                            <td>INVSYC1019195/td>
                                            <td>TRMTSYC106216</td>
                                            <td>360000095 - E/LIGHTENING PKG (RM 188)</td>
                                            <td>85.60</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input" id="checkbox104">
                                                </div>
                                            </td>
                                            <td>30/05/2018</td>
                                            <td>INVSYC101914</td>
                                            <td>TRMTSYC107230</td>
                                            <td>36000139 - E/LIGHTENING PKG(RM 588)</td>
                                            <td>120.00</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align: center;">
                                @Html.ActionLink("Detail", "ServiceAccountDetail", "", new { @class = "btn btn-warning" })
                                @Html.ActionLink("Top Up", "AddToCart", "", new { @class = "btn btn-warning" })
                                @*@Html.ActionLink("Print", "Print", "", new { @class = "btn btn-warning" })*@
                                @Html.ActionLink("Cancel", "Cancel", "", new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    </div><!-- .animated -->
                </div><!-- .content -->
            </div>
        </div>
    </div>
</section>

